ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
H1 { text-align: center }
body { text-align: center ;
}
p1 {
	top:25%;
    left:80%; 
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}
.center {
    width:600px;
    height:100px;
    position:fixed;
    margin-left:-300px; 
    margin-top:-50px;
    top:65%;
    left:50%;
    text-align: center;
    border-collapse: collapse;
}

.box {
	    width:600px;
    height:100px;
    position:fixed;
    margin-left:-300px; 
    margin-top:-50px;  
    top:50%;
    left:50%;
}
.box2 {
	    width:600px;
    height:100px;
    position:fixed;
    margin-left:-300px;
    margin-top:-50px;  
    top:60%;
    left:68%;
}
.box3 {
	    width:600px;
    height:100px;
    position:fixed;
    margin-left:-300px; 
    margin-top:-50px;  
    top:60%;
    left:50%;
}
.ann {
		    width:100px;
    height:30px;
    position:fixed;
    margin-left:-50px; 
    margin-top:-15px; 
    top:90%;
    left:90%;
}
table#table1 { 
	    width:600px;
    height:50px;
    position:fixed;
    margin-left:-300px; 
    margin-top:-25px;  
    top:70%;
    left:50%;
    text-align: center;
    border-collapse: collapse;
}
table#table2 { 
	    width:400px;
    height:50px;
    position:fixed;
    margin-left:-200px; 
    margin-top:-25px; 
    top:65%;
    left:50%;
    text-align: center;
    border-collapse: collapse;
}

.form1 {
		    width:600px;
    height:100px;
    position:fixed;
    margin-left:-300px; 
    margin-top:-50px;  
    top:80%;
    left:50%;
}
.form2 {
		    width:600px;
    height:100px;
    position:fixed;
    margin-left:-300px; 
    margin-top:-50px;  
    top:50%;
    left:50%;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 30px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
	top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
	text-align: center;
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
 